.extra-chrome-gift {
	display: flex;
	flex-direction: row;
	max-width: 200px;
	transition: all 0.3s ease-in-out;
	height: 30px;
	align-items: center;
}
.translate-text {
	transition: all 0.3s ease-in-out;
}
.extra-chrome-gift:hover .ern-ext-translate-button {
	fill: white;
	background-color: lightgray;
}

.count-img {
	margin-left: -18px;
	align-content: center;
	display: flex;
	opacity: 0;
}

.extra-chrome-gift:hover .ern-ext-input {
	width: 70%;
	color: #747171;
	padding-left: 10px;
	padding-right: 19px;
	border-bottom-left-radius: 20px;
	background-color: white;
	border: 2px solid #aef4ffc2;
}
.extra-chrome-gift:hover .count-img {
	opacity: 0.65;
}

.ern-ext-input {
	border: 2px solid transparent;
	background-color: #aef4ffc2;
	width: 16px;
	outline: none;
	max-height: 20px;
	border-radius: 20px;
	transition: all 0.2s ease-in-out;
	border-bottom-left-radius: 0;
	color: transparent;
}

.ern-ext-input::placeholder {
	color: transparent;
}

.ern-ext-translate-button {
	cursor: pointer;
	fill: transparent;
	background-color: transparent;
	width: 20px;
	height: 20px;
	margin-left: 8px;
	border-radius: 50%;

	border-width: 0;
	padding: auto;
	transition: all 0.2s ease-in-out;
}

.ern-ext-translate-button:hover {
	transform: scale(1.2);

	background-color: #aef4ff !important;
	fill: white !important;
}
.ern-span {
	width: 20px;
	height: 100%;
}
.clicked {
	animation: button-loading-spinner 1s ease infinite;
	transform: scale(1.2);
	background-color: #aef4ff;
	fill: white !important;
}
.successful-translation {
	transform: scale(1.3);
	background-color: green;
	fill: white !important;
}
.failed-translation {
	transform: scale(1.2);
	background-color: red;
	fill: white !important;
}
@keyframes button-loading-spinner {
	from {
		transform: rotate(0turn);
	}

	to {
		transform: rotate(1turn);
	}
}
